header {
    color:#00eeff;
    display: grid;
    grid-area: auto;
    width: 800px;
    height: 400px;   
}

.container {
    display: grid;
    color:black;
    background: #f5efef;
    padding: 25px;
    border-block-start: 2px solid gray;
}

.container .name {
    width: 700px;
    height: 25px;
    border: 1px solid black;
    background-color: #ddd3d3;
    box-sizing: content-box;
}

.container .email {
    width: 700px;
    height: 25px;
    border: 1px solid black;
    background-color: #ddd3d3;
    box-sizing: content-box;
}

.container .message {
    width: 700px;
    height: 200px;
    border: 1px solid black;
    background-color: #ddd3d3;
    box-sizing: content-box;
}

.container .submit {
    width: 100px;
    height: 30px;
    margin-top: 15px;
    background-color: #41dfd7;
    box-sizing: content-box;
}

.about {
    display: grid;
    width: 800px;
    height: 600px;
    background: #ddd3d3;

}

h2 {
    font-size: 75px;
    color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    border-block-start: 2px solid gray;

}

.container {
    display: grid;
    width: 1400px;
    height: 50px;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1fr;
}

h1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    border: 1px solid #a1a1e7;
    background: #a1a1e7;
    padding: 25px;
}


