header {
    color:#2e2828;
    display: grid;
    grid-area: auto;
    width: 800px;
    height: 400px; 
    margin-left: 0%; 
}

.container {
    display: grid;
    color:black;
    background: #f5efef;
    border-block-start: 1px solid gray;
    margin-left: 20px;
}

.container .name {
    width: 700px;
    height: 25px;
    border: 1px solid black;
    background-color: #ddd3d3;
    box-sizing: content-box;
}

.container .email {
    width: 700px;
    height: 25px;
    border: 1px solid black;
    background-color: #ddd3d3;
    box-sizing: content-box;
}

.container .message {
    width: 700px;
    height: 200px;
    border: 1px solid black;
    background-color: #ddd3d3;
    box-sizing: content-box;
}

.container .submit {
    width: 100px;
    height: 30px;
    margin-top: 15px;
    background-color: #41dfd7;
    box-sizing: content-box;
}

.about {
    display: grid;
    width: 800px;
    height: 600px;
    background: #ddd3d3;

}

h2 {
    font-size: 25px;
    color: #1f3131;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    display: grid;
    width: 600px;
    height: 50px;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1fr;
}

h1 {
    border: 1px solid #2121af;
    background: #7abadf;
    padding: 25px;
    color: #332a2a
}
.contact {
    border: 1px solid #2187af;
    background: #7abadf;
}



